<header class="navbar">
    <a href="/" class="logo">
        <img src="/logo.png" alt="VulnEye Logo" class="hero-logo" />
        <span class="brand-name">VULNEYE</span>
    </a>
    <nav>
        <!--   */<a href="/">Home</a> -->
        <!-- <a href="/plans">Plans</a> -->
        <a href="/faqs">FAQs</a>
        <a href="/contact">Contact Us</a>
    </nav>
</header>