---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
const { title = "VulnEye - Browser Security Inspector" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{title}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/style.css" />
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      crossorigin="anonymous"
        />

        <script src="/scripts/interactivity.js" defer></script>
        <script src="/scripts/faq.js" defer></script>
    </head>
    <body>
        <Header />
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>